@import "../../../assets/styles/core.scss";

:host {
    align-items: center;
    bottom: 0;
    display: flex;
    height: rem(52);
    font-size: rem($font-size-sm);
    justify-content: flex-end;
    left: 0;
    padding: rem(30);
    position: absolute;
    right: 0;
    z-index: -1;

    img {
        height: auto;
        max-height: 100%;
        width: auto;
    }
}

.app-logo {
    height: 28;
    width: auto;
    margin-right: rem(24);
}
