@import "../../../assets/styles/core.scss";

:host {
    align-items: center;
    display: flex;
    flex: 1 1 70%;
    padding-left: rem(30);
    padding-right: rem(50);

    &--ont {
        justify-content: space-around;
    }
}
