@import "../../../assets/styles/core.scss";

h1,
h3,
h4,
p,
ul {
    margin-bottom: rem(20);
}

h2 {
    margin-bottom: rem(40);
}

mat-form-field {
    display: block;
    margin-bottom: rem(20);
}

ul {
    list-style-type: none;
}
