@import "../../../assets/styles/core.scss";

// Source: https://www.netztest.at/en/
.uk-card {
    display: block;
    height: rem(200);
    padding: 40px 60px;
    transition: transform 0.15s ease-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.28);
    border: 1px solid $color-primary;
    border-radius: 7px;
    width: 100%;

    &[aria-disabled="false"]:hover {
        text-decoration: none;
        transform: translateY(0.4rem) scale(0.98);
    }
    &.uk-card-primary {
        background-color: $color-primary;
        color: white;
        .uk-icon {
            align-items: center;
            background: $color-primary;
            border-radius: 500px;
            border: 1px solid $color-primary;
            bottom: 15px;
            color: white;
            display: inline-flex;
            height: 50px;
            justify-content: center;
            position: absolute;
            right: -10px;
            transition-property: all;
            transition-property: color, background-color;
            transition: 0.1s ease-in-out;
            width: 50px;
            & > * {
                transform: translate(0, 0);
            }
        }

        $disabled-color: mix($color-primary, white, 50%);

        &[aria-disabled="true"] {
            background-color: $disabled-color;
            border-color: $disabled-color;
            cursor: default;
            pointer-events: none;
            .uk-icon {
                background-color: $disabled-color;
                border-color: $disabled-color;
            }
        }
    }

    .uk-card-media-top {
        position: relative;
    }

    p {
        font-size: rem($font-size-l);
        font-weight: 400;
        margin: rem($font-size-l * 1.11) 0;
    }

    h3 {
        font-size: rem($font-size-3xl);
        font-weight: 700;
    }
}

$primary-button-gradient: linear-gradient(84.79deg, #0958bd 0%, #00acb1 100%),
    linear-gradient(
        84.79deg,
        rgba(9, 88, 189, 0.2) 0%,
        rgba(0, 172, 177, 0.2) 100%
    );
$secondary-button-gradient: linear-gradient(84.79deg, #00acb1 0%, #09bd5e 100%),
    linear-gradient(
        84.79deg,
        rgba(0, 172, 177, 0.2) 0%,
        rgba(9, 189, 94, 0.2) 100%
    );
$tertiary-button-gradient: linear-gradient(84.79deg, #09bd5e 0%, #ffcc00 100%),
    linear-gradient(
        84.79deg,
        rgba(9, 189, 94, 0.2) 0%,
        rgba(255, 204, 0, 0.2) 100%
    );

@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes hover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.app-start-button {
    background: $primary-button-gradient;
    border: rgb(205, 230, 241) 10px solid;
    border-radius: rem(42);
    height: rem(84);
    font-size: rem(24);
    font-weight: bold;
    line-height: 1;
    margin-bottom: rem(72);
    margin-top: rem(72);
    min-width: rem(232);
    overflow: hidden;
    text-align: center;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &::before {
        animation: pulse 1s ease-out 10ms infinite alternate;
        background: $secondary-button-gradient;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    &:hover {
        border-color: rgb(232, 243, 213);
        transition: border-color 300ms;
        &::before {
            animation: hover 300ms ease-out;
            background: $tertiary-button-gradient;
        }
    }
}
