@import "../../../assets/styles/core.scss";

// Source: https://www.netztest.at/en/
.uk-card {
    display: block;
    height: rem(200);
    padding: 40px 60px;
    transition: transform 0.15s ease-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.28);
    border: 1px solid $color-primary;
    border-radius: 7px;
    width: 100%;

    &[aria-disabled="false"]:hover {
        text-decoration: none;
        transform: translateY(0.4rem) scale(0.98);
    }
    &.uk-card-primary {
        background-color: $color-primary;
        color: white;
        .uk-icon {
            align-items: center;
            background: $color-primary;
            border-radius: 500px;
            border: 1px solid $color-primary;
            bottom: 15px;
            color: white;
            display: inline-flex;
            height: 50px;
            justify-content: center;
            position: absolute;
            right: -10px;
            transition-property: all;
            transition-property: color, background-color;
            transition: 0.1s ease-in-out;
            width: 50px;
            & > * {
                transform: translate(0, 0);
            }
        }

        $disabled-color: mix($color-primary, white, 50%);

        &[aria-disabled="true"] {
            background-color: $disabled-color;
            border-color: $disabled-color;
            cursor: default;
            pointer-events: none;
            .uk-icon {
                background-color: $disabled-color;
                border-color: $disabled-color;
            }
        }
    }

    .uk-card-media-top {
        position: relative;
    }

    p {
        font-size: rem($font-size-l);
        font-weight: 400;
        margin: rem($font-size-l * 1.11) 0;
    }

    h3 {
        font-size: rem($font-size-3xl);
        font-weight: 700;
    }
}

.app-start-button {
    background: linear-gradient(
        45deg,
        $color-button-gradient-1 0%,
        $color-button-gradient-2 100%
    );
    border-radius: rem(30);
    height: rem(48);
    padding: rem(26);
}
