<app-header *ngIf="!hideMenu"></app-header>
<app-body *ngIf="env$ | async as env">
    <app-main-menu *ngIf="env?.FLAVOR !== 'ont' && !hideMenu"></app-main-menu>
    <app-main-content
        *ngIf="result$ | async as result; else noResult"
        [class.hidden-menu]="hideMenu"
    >
        <app-export-warning></app-export-warning>
        <div
            class="app-main"
            [class.app-main--no-padding]="hideMenu"
            *transloco="let t"
        >
            <h1 *ngIf="env?.FLAVOR && env?.FLAVOR !== 'ont'" class="app-title">
                {{ t(pageTitle) }}
                <app-action-buttons
                    [items]="actionButtons"
                ></app-action-buttons>
            </h1>
            <h1 *ngIf="env?.FLAVOR === 'ont'" class="app-title app-title--ont">
                {{ getHeading(result.totalElements) }}
            </h1>
            <div class="app-wrapper">
                <app-recent-history
                    [result]="result"
                    [grouped]="shouldGroupHistory"
                    (sortChange)="changeSort($event)"
                ></app-recent-history>
                <button
                    *ngIf="!allLoaded"
                    mat-flat-button
                    color="primary"
                    (click)="loadMore()"
                    [disabled]="loading"
                    [ngClass]="
                        env?.FLAVOR === 'ont' ? 'app-button--expanded' : ''
                    "
                >
                    {{ loading ? t("Loading") : t("Load more") }}
                </button>
            </div>
        </div>
        <app-footer></app-footer>
    </app-main-content>
</app-body>
<app-scroll-top></app-scroll-top>

<ng-template #noResult>
    <main class="app-main app-main--no-result">
        {{ "Fetching the history..." | transloco }}
    </main>
</ng-template>
