@if (!hideMenu) {
    <app-header></app-header>
}
@if (env$ | async; as env) {
    <app-body>
        @if (!hideMenu) {
            <app-main-menu></app-main-menu>
        }
        @if (result$ | async; as result) {
            <app-main-content [class.hidden-menu]="hideMenu">
                <app-export-warning></app-export-warning>
                <div
                    class="app-main"
                    [class.app-main--no-padding]="hideMenu"
                    *localize="let t"
                >
                    <h1 class="app-title">
                        {{ t(pageTitle) }}
                        @if (!showCertifiedResultInfo) {
                            <app-action-buttons
                                [items]="actionButtons"
                            ></app-action-buttons>
                        }
                    </h1>
                    @if (showCertifiedResultInfo) {
                        <div class="app-certified-result">
                            <p class="app-certified-result__text">
                                {{
                                    t(
                                        "The measurement cycle is now complete, the results are available as a PDF:"
                                    )
                                }}
                            </p>
                            <app-action-buttons
                                [items]="actionButtons"
                            ></app-action-buttons>
                        </div>
                    }
                    @if (showHistoryFilter) {
                        <div class="app-history-filter">
                            <mat-slide-toggle
                                color="primary"
                                [checked]="includeFailed"
                                (change)="onToggleChange($event.checked)"
                            >
                                {{ t(includeFailed ? "All" : "Completed") }}
                            </mat-slide-toggle>
                        </div>
                    }
                    <div class="app-wrapper">
                        <app-recent-history
                            [result]="result"
                            [grouped]="shouldGroupHistory"
                            (sortChange)="changeSort($event)"
                        ></app-recent-history>
                    </div>
                </div>
                <app-footer></app-footer>
            </app-main-content>
        } @else {
            <main class="app-main app-main--no-result">
                {{ "Fetching the history..." | localize }}
            </main>
        }
    </app-body>
}
<app-scroll-top></app-scroll-top>
