@import "../../../assets/styles/core.scss";

$container-width: 100%;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-main {
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 rem(30) rem(30);
    width: 100%;

    &--no-result {
        text-align: center;
    }
}

.app-title {
    display: flex;
    margin-bottom: 1em;

    &--ont {
        font-size: rem(18);
        font-weight: normal;
        margin-left: rem(-30);
        margin-right: rem(-30);
    }
}

.app-wrapper {
    display: flex;
    flex-direction: column;
}

app-footer {
    height: auto;
    padding-right: 0;
    padding-bottom: rem(20);
    position: relative;
}

app-main-content {
    align-items: initial;
    flex-direction: column;
    overflow: auto;
}

.app-button {
    &--expanded {
        margin-left: rem(-60);
        margin-right: rem(-80);
        width: auto;
    }
}
