@import "../../../assets/styles/core.scss";

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app-title {
    margin-bottom: rem(40);
}

.app-main {
    align-items: center;
    display: flex;
    flex: 1;
    padding: rem(30);

    app-start-test-button {
        flex: 0 0 auto;
        max-width: rem(560);
        width: 100%;
    }
}

.app-link-wrapper {
    margin-top: rem(40);
}

.app-link {
    display: flex;
    .mat-icon {
        flex: 0 0 rem(24);
        margin-right: rem(9);
        vertical-align: middle;
    }
}

.app-aside {
    margin-left: rem(130);

    @include screen-small {
        display: none;
    }
}
