@import "../../../assets/styles/core.scss";

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app-title {
    margin-bottom: rem(40);
}

.app-main {
    align-items: center;
    display: flex;
    flex: 1;
    padding: rem(30);

    &--ont {
        justify-content: space-around;
    }
}

.app-link-wrapper {
    margin-top: rem(40);
}

.app-link {
    display: flex;
    .mat-icon {
        flex: 0 0 rem(24);
        margin-right: rem(9);
        vertical-align: middle;
    }
}

.app-aside {
    flex: 0 0 40%;
    margin-left: 6%;

    img {
        height: auto;
        width: 100%;
    }

    @include screen-small {
        display: none;
    }
}
