@import "../../../assets/styles/core.scss";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-title {
    font-size: rem(48);
    font-weight: bold;
    text-align: center;
}

.app-link-wrapper {
    &--metrics {
        display: flex;
        justify-content: space-between;
        margin-top: rem(70);

        & > * {
            flex-basis: calc(50% - rem(35));
            align-self: stretch;
        }
    }
}

.app-link {
    display: flex;
    margin-top: rem(16);
    .mat-icon {
        flex: 0 0 rem(24);
        margin-right: rem(9);
        vertical-align: middle;
    }
}

.app-aside {
    flex: 0 0 40%;
    margin-left: 6%;

    img {
        height: auto;
        width: 100%;
    }

    @include screen-xs {
        display: none;
    }
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    &--ont {
        align-items: center;
    }
}
