<app-header></app-header>
<app-body>
    <app-main-menu *ngIf="(env$ | async)?.FLAVOR !== 'ont'"></app-main-menu>
    <app-main-content *ngIf="env$ | async as env">
        <div *ngIf="showProgress" style="width: 100%">
            <mat-spinner style="margin: auto"></mat-spinner>
        </div>
        <ng-container *ngIf="!showProgress">
            <div
                class="app-wrapper app-wrapper--{{ env?.FLAVOR }}"
                *transloco="let t"
            >
                <h1 class="app-title" *ngIf="env?.FLAVOR === 'ont'">
                    {{ t("test.title") }}
                </h1>
                <app-start-test-button></app-start-test-button>
                <ng-container
                    *ngTemplateOutlet="env?.FLAVOR === 'ont' ? ont : rtr"
                ></ng-container>
            </div>
        </ng-container>
    </app-main-content>
    <app-footer></app-footer>
</app-body>

<ng-template #rtr>
    <div class="app-link-wrapper app-link-wrapper--metrics">
        <app-home-metrics
            [list]="ipInfo$ | async"
            title="Your IP address"
        ></app-home-metrics>
        <ng-container
            *ngIf="(env$ | async)?.ENABLE_HOME_SCREEN_JITTER_BOX === true"
        >
            <app-home-metrics [list]="jitterInfo$ | async"></app-home-metrics>
        </ng-container>
    </div>
</ng-template>

<ng-template #ont>
    <div class="app-link-wrapper" *transloco="let t">
        <app-test-servers></app-test-servers>
        <a class="app-link" [href]="methodologyLink$ | async" target="_blank"
            ><mat-icon>info</mat-icon
            ><span>{{ t("test.learn_about_methodology") }}</span></a
        >
    </div>
</ng-template>
