@if (items?.length) {
    <ng-container *localize="let t">
        @for (item of items; track item; let i = $index) {
            <button
                class="app-button"
                mat-icon-button
                (click)="handleClick($event, i)"
                [disabled]="(disabledItems$ | async)!.has(i)"
                [title]="t(item.label)"
            >
                @if (item.icon) {
                    <i class="app-icon app-icon--{{ item.icon }}"></i>
                }
            </button>
        }
    </ng-container>
}
