@import "../../../assets/styles/core.scss";

$bar-side: 4px;

.app-qoe-bar {
    &__item {
        display: inline-block;
        position: relative;
        margin: 0 calc($bar-side / 2) 0 0;
        &::before {
            content: "";
            display: block;
            height: $bar-side;
            width: $bar-side;
            margin-bottom: calc($bar-side / 2);
        }
        &::after {
            content: "";
            display: block;
            height: $bar-side;
            width: $bar-side;
        }

        &--0 {
            &::before {
                background-color: #bcb;
            }
            &::after {
                background-color: #bcb;
            }
        }

        &--1 {
            &::before {
                background-color: #f5001c;
            }
            &::after {
                background-color: #f5001c;
            }
        }

        &--2 {
            &::before {
                background-color: #ffba00;
            }
            &::after {
                background-color: #ffba00;
            }
        }

        &--3 {
            &::before {
                background-color: #59b200;
            }
            &::after {
                background-color: #59b200;
            }
        }

        &--4 {
            &::before {
                background-color: #007c0e;
            }
            &::after {
                background-color: #007c0e;
            }
        }
    }
}
