<ng-container *ngIf="link$ | async as link">
    <ng-container *transloco="let t">
        <header class="app-header app-header--large{{ fixed ? '-fixed' : '' }}">
            <a [routerLink]="link" (click)="handleClick($event, link)"
                ><img
                    (click)="handleClick($event, link)"
                    src="/assets/images/logo-header.svg"
                    [alt]="t('Text RTR-NetTest')"
                    [title]="t('Back to Startpage')"
            /></a>
            <div
                *ngIf="
                    (isLoopModeTestScreen$ | async) === true &&
                    hideLoopModeAlert === false
                "
                style="display: flex; justify-content: center; flex: 1"
            >
                <app-alert
                    text="Tests are conducted repeatedly until they are stopped manually"
                >
                    <app-stop-loop-button></app-stop-loop-button>
                </app-alert>
            </div>
        </header>
        <header class="app-header app-header--small{{ fixed ? '-fixed' : '' }}">
            <a [routerLink]="link"
                ><img
                    (click)="handleClick($event, link)"
                    src="/assets/images/logo-header-small.svg"
                    [alt]="t('Icon RTR-NetTest')"
                    [title]="t('Back to Startpage')"
            /></a>
        </header>
    </ng-container>
</ng-container>
