@if (env$ | async; as env) {
    <div class="app-menu">
        <aside class="app-aside">
            <div>
                <app-header
                    [fixed]="true"
                    [hideLoopModeAlert]="true"
                ></app-header>
                @if (menu$ | async; as menu) {
                    <ul class="app-list" role="menu">
                        @for (item of menu; track trackBy($index, item)) {
                            @if (!item.hidden) {
                                <li class="app-list-item" role="menuitem">
                                    <app-main-menu-item
                                        [item]="item"
                                        (menuClick)="handleClick($event, item)"
                                    ></app-main-menu-item>
                                </li>
                            }
                        }
                        <!-- Options/Settings is a regular nav item (kept last),
                             not pinned to the bottom. -->
                        @if (settingsItem) {
                            <li class="app-list-item" role="menuitem">
                                <app-main-menu-item
                                    [item]="settingsItem"
                                    (menuClick)="handleClick($event, settingsItem)"
                                ></app-main-menu-item>
                            </li>
                        }
                    </ul>
                }
            </div>
        </aside>
    </div>
}
