@import "../../../assets/styles/core.scss";

.app-menu-item {
    border: none;
    border-radius: 0;
    color: black !important;
    font-size: rem($font-size-xxl);
    height: rem($font-size-xxl * 2.5);
    justify-content: start;
    width: 100%;

    &--active {
        background: #737373;
        color: white !important;

        .app-icon {
            filter: invert(1);
        }
    }

    &--disabled {
        opacity: 0.5;
    }
}

.app-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 56%;
    display: inline-block;
    height: rem($font-size-xxl * 2.5);
    width: rem($font-size-xxl * 2.5);

    & + span {
        @include screen-lg {
            display: none;
        }
    }

    &[data-icon="test"] {
        background-image: url("/assets/images/test-icon.svg");
    }

    &[data-icon="test"] {
        background-image: url("/assets/images/test-icon.svg");
    }

    &[data-icon="loop"] {
        background-image: url("/assets/images/loop-icon.svg");
    }

    &[data-icon="map"] {
        background-image: url("/assets/images/map-icon.svg");
    }

    &[data-icon="history"] {
        background-image: url("/assets/images/history-icon.svg");
    }

    &[data-icon="statistics"] {
        background-image: url("/assets/images/statistics-icon.svg");
    }

    &[data-icon="help"] {
        background-image: url("/assets/images/help-icon.svg");
    }

    &[data-icon="certified"] {
        background-image: url("/assets/images/certified-icon.svg");
    }

    &[data-icon="settings"] {
        background-image: url("/assets/images/settings-icon.svg");
    }
}
