<ng-container *ngIf="env$ | async as env">
    <ng-container
        *ngTemplateOutlet="
            !!item?.url
                ? external
                : item?.route !== null && item?.route !== undefined
                ? default
                : noRoute;
            context: { $implicit: item, env }
        "
    ></ng-container>
</ng-container>

<ng-template #default let-item let-env="env">
    <a
        *transloco="let t"
        mat-button
        color="primary"
        class="app-menu-item {{ item.className }} app-menu-item--{{
            env.FLAVOR
        }}"
        [routerLink]="item.route"
        routerLinkActive="app-menu-item--active"
        (click)="menuClick.emit($event)"
        role="menuitem"
        [title]="t(item.label)"
    >
        <ng-container
            *ngTemplateOutlet="linkText; context: { $implicit: item }"
        ></ng-container>
    </a>
</ng-template>

<ng-template #external let-item let-env="env">
    <a
        *transloco="let t"
        mat-button
        color="primary"
        class="app-menu-item {{ item.className }} app-menu-item--{{
            env.FLAVOR
        }}"
        [href]="item.url"
        role="menuitem"
        target="_blank"
        [title]="t(item.label)"
    >
        <ng-container
            *ngTemplateOutlet="linkText; context: { $implicit: item }"
        ></ng-container>
    </a>
</ng-template>

<ng-template #noRoute let-item let-env="env">
    <a
        *transloco="let t"
        mat-button
        color="primary"
        href="javascript:;"
        class="app-menu-item {{ item.className }} app-menu-item--{{
            env.FLAVOR
        }}"
        (click)="menuClick.emit($event)"
        role="menuitem"
        [title]="t(item.label)"
    >
        <ng-container
            *ngTemplateOutlet="linkText; context: { $implicit: item }"
        ></ng-container>
    </a>
</ng-template>

<ng-template #linkText let-item>
    <ng-container *ngIf="env$ | async as env">
        <i class="app-icon app-icon--{{ item.icon }}"></i>
        <span>{{ item.label | transloco }}</span>
    </ng-container>
</ng-template>
