<div class="app-dialog" *localize="let t">
    <p [innerHTML]="t(text)"></p>
    <footer class="app-footer">
        @if (canCancel) {
            <button mat-button color="primary" (click)="close()">
                {{ t(cancelButtonText) }}
            </button>
            <button
                mat-flat-button
                type="submit"
                color="primary"
                (click)="close(true)"
            >
                {{ t(proceedButtonText) }}
            </button>
        } @else {
            <button
                *localize="let t"
                mat-button
                color="primary"
                (click)="close(true)"
            >
                {{ t(okButtonText) }}
            </button>
        }
    </footer>
</div>
