@import "../../../assets/styles/core.scss";

.app-wrapper {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    font-size: rem($font-size-xl);
    font-weight: bold;
    margin-bottom: rem(20);

    & > * {
        margin-right: 1ex;
    }
}

.app-spinner {
    align-self: center;
    mat-spinner {
        height: rem($font-size-xxl) !important;
        width: rem($font-size-xxl) !important;
        overflow: visible;
    }
}

.app-chart {
    height: rem(160);
}
