@import "../../../assets/styles/core.scss";

.app-wrapper {
    display: block;
}

.app-title {
    display: flex;
    font-size: rem($font-size-xl);
    font-weight: bold;
    margin-bottom: 1vh;

    & > * {
        margin-right: 1ex;
    }
}

.app-spinner {
    align-self: center;
    mat-spinner {
        height: rem($font-size-xxl) !important;
        width: rem($font-size-xxl) !important;
        overflow: visible;
    }
}

.app-chart {
    position: relative;

    app-test-chart {
        height: rem(130);
    }

    &--ping {
        app-test-chart {
            height: rem(90);
        }
    }
}

.app-table {
    margin-bottom: rem(40);
    .app-row {
        padding-bottom: rem(10);
    }
    .app-cell {
        font-size: rem($font-size-xl);
        &--left {
            text-align: left;
        }
    }
    th {
        color: $color-primary;
        padding-right: rem(12);
        text-align: left;
    }
}
