@import "src/assets/styles/core";

:host {
    align-items: center;
    display: flex;
}

.app-alert {
    border: 1px solid $color-pale;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: rem(14);
    margin: 0 auto rem(24);
    padding: rem(12) rem(16);
    width: 100%;

    &--warning {
        background-color: rgba(255, 204, 0, 0.2);
        border: 1px solid #ffcc00;
    }
}

.app-icon {
    flex: 0 0 rem(36);
    height: rem(36);
    margin-left: rem(21);

    & + * {
        align-items: center;
        display: flex;
        padding-left: rem(21);
        padding-right: rem(21);
        white-space: pre;
    }
}
