@if (result) {
    @if (result.totalElements > 0) {
        <ng-container *localize="let t">
            @if (title) {
                <h3 class="app-title" style="margin-bottom: 1em">
                    {{ t(title) }}
                </h3>
            }
            <app-table
                [action]="changeSort"
                [columns]="(columns$ | async)!"
                [data]="result"
                [expandedElements]="expandedElements"
                [rowsAreCLickable]="true"
                [sort]="(sort$ | async)!"
                [shouldHideHeader]="false"
                [tableClassNames]="tableClassNames ?? []"
                (toggleExpandableRow)="toggleLoopResults($event.toString())"
            ></app-table>
        </ng-container>
    }
}
