@import "../../../assets/styles/core.scss";

:host.app-padding {
    .app-title {
        margin: rem(16) rem(32) rem(16);
    }
    app-table {
        display: block;
        margin: 0 rem(32) rem(32);
    }
}

:host.app-padding--hidden-menu {
    .app-title {
        margin: rem(16) 0;
    }
    app-table {
        display: block;
        margin: 0 0 rem(32);
    }
}
