@if (entries) {
    <dl class="app-dl">
        <ng-container *localize="let t">
            @for (entry of entries; track entry) {
                <dt class="app-dt">
                    <span>{{ t(entry[0]) }}</span>
                </dt>
                <dd class="app-dd">
                    @if (icons?.[entry[0]]) {
                        <i [ngClass]="icons && icons[entry[0]]"></i>
                    }
                    <span>{{ entry[1] }}</span>
                </dd>
            }
        </ng-container>
    </dl>
}
