@import "../../../assets/styles/core.scss";

.app-dt {
    color: $color-pale;
    font-size: rem(12);
    margin-bottom: rem(4);
    text-transform: uppercase;
}

.app-dd {
    font-size: rem(16);
    margin-bottom: rem(8);
}

.app-icon--class {
    margin-left: rem(-28);
    margin-right: rem(12);
    position: relative;
    top: rem(2);
}
