@import "../../../assets/styles/core.scss";

.app-dt {
    color: $color-pale;
    font-size: rem(12);
    margin-bottom: rem(4);
    text-transform: uppercase;
}

.app-dd {
    font-size: rem(16);
    margin-bottom: rem(8);
}
