<h1>Certified measurement</h1>
<h2>Basic information on the certified measurement</h2>
<div *ngIf="form">
    <form [formGroup]="form" (submit)="(submit)" *transloco="let t">
        <mat-form-field appearance="outline">
            <mat-label>{{ t("Title") }}</mat-label>
            <input
                matInput
                type="text"
                formControlName="titlePrepend"
                name="titlePrepend"
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{ t("First name") }}</mat-label>
            <input
                matInput
                type="text"
                formControlName="firstName"
                name="firstName"
                required
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{ t("Last name") }}</mat-label>
            <input
                matInput
                type="text"
                formControlName="lastName"
                name="lastName"
                required
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{ t("Academic degree") }}</mat-label>
            <input
                matInput
                type="text"
                formControlName="titleAppend"
                name="titleAppend"
            />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>{{ t("Location of the measurements") }}</mat-label>
            <textarea
                matInput
                type="text"
                formControlName="address"
                name="address"
                required
            ></textarea>
        </mat-form-field>
    </form>
</div>
