@import "../core.scss";

h1,
%h1 {
    font-size: rem($font-size-xxl);
    font-weight: 300;
}

h2,
%h2 {
    font-size: rem($font-size-xl);
    font-weight: 300;
}

h3,
%h3 {
    font-size: rem($font-size-l);
}

h4,
%h4 {
    font-size: rem($font-size-m);
}

h5,
%h5 {
    font-size: rem($font-size-xs);
}

h6,
%h6 {
    font-size: rem($font-size-sm);
}
