/*------------------------------------
    # ELEMENT BODY
------------------------------------*/

body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

/*------------------------------------
   # END ELEMENT BODY
------------------------------------*/
