@import "../core.scss";

a,
a:default,
a:hover,
a:focus,
a:visited,
a:active {
    color: $color-link;
    text-decoration: none;
}

.app-menu-item {
    .mdc-button__label {
        align-items: center;
        display: flex;
    }
}
