@use "@angular/material" as mat;

@include mat.core();

@import "../core.scss";

//create palettes
$app-primary: mat.define-palette($palette-primary);
$app-accent: mat.define-palette($palette-accent);
$app-warn: mat.define-palette($palette-warn);
$app-typography: mat.define-typography-config(
    $font-family: $base-font-family,
);
$app-theme: mat.define-light-theme(
    (
        color: (
            primary: $app-primary,
            accent: $app-accent,
            warn: $app-warn,
        ),
        typography: $app-typography,
    )
);
@include mat.all-component-themes($app-theme);
@include mat.all-component-typographies($app-typography);

.mdc-button[mat-flat-button],
.mdc-button[mat-button] {
    height: auto;
    padding: rem(12) rem(18);
}

.mdc-button[mat-button] {
    background: white;
    border: 2px solid;
    padding: rem(8) rem(14);
}

.app-snackbar {
    --mat-mdc-snack-bar-button-color: black;
    --mdc-snackbar-container-color: white;
    --mdc-snackbar-supporting-text-color: black;
    text-align: center;
}

.mat-mdc-slide-toggle.app-slide-toggle {
    --mdc-switch-unselected-handle-color: white;
}

.cdk-overlay-pane {
    width: auto !important;
}

.mat-mdc-select-arrow-wrapper {
    margin-left: rem(4);
}

app-settings-locale .mat-mdc-select {
    font-size: 1em;
}

.app-server-select,
.app-client-select {
    .mat-form-field {
        width: auto !important;
    }
    .mat-mdc-form-field-infix {
        display: flex;
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        min-height: 0;
        width: auto;
    }
    .mat-mdc-form-field .mat-mdc-form-field-focus-overlay {
        display: none;
    }
    .mdc-text-field {
        align-items: center;
        background: none !important;
        display: flex;
        height: 2rem;
        padding: 0;
    }
    .mat-mdc-select,
    .mat-mdc-select-trigger {
        font-size: $font-size-m + px;
    }
    .mat-mdc-select-value {
        max-width: 100% !important;
        width: auto !important;
    }
    .mat-mdc-select-arrow-wrapper {
        height: 1rem;
    }
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
    .mdc-line-ripple {
        display: none;
    }
}

.app-client-select {
    .mat-mdc-select-trigger {
        font-size: rem($font-size-l);
    }
    .mat-mdc-select-value {
        color: $color-primary;
    }

    &--settings {
        .mat-mdc-select-trigger {
            font-size: $font-size-m + px;
        }
    }
}

.mat-mdc-option {
    font-size: 1rem;
}

$progress-height: 26px !important;
$progress-color: #0071d7;

.app-progress-bar--loop {
    height: $progress-height;
    .mdc-linear-progress__bar {
        height: $progress-height;
        background-color: $progress-color;

        &-inner {
            border-color: $progress-color;
        }
    }
    .mdc-linear-progress__buffer {
        height: $progress-height;

        &-bar,
        &-dots {
            background: #d9d9d9;
        }
    }
}
