@import "../../../assets/styles/core.scss";

$container-width: 100%;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-main {
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 rem(30) rem(30);
    width: 100%;

    &--no-result {
        text-align: center;
    }
}

.app-title {
    align-items: center;
    display: flex;
    margin-bottom: 1em;
}

.app-wrapper {
    display: flex;
    width: $container-width;

    & > * {
        flex: 1;
    }

    &:not(:last-of-type) {
        margin-bottom: 1.5em;
    }
}

.app-btn {
    background: $color-primary;
    border-radius: rem(4);
    color: white;
    display: block;
    margin-top: rem(40);
    padding: rem(14) rem(12);
    text-decoration: none !important;
}

.app-link {
    color: $color-primary;
    font-weight: bold;
    text-decoration: none !important;
}

.app-charts {
    margin: rem(20) 0 rem(40) rem(-10);

    &__col {
        height: rem(200);
        padding: 0 rem(10);
        width: 33%;
    }

    @include screen-sm {
        display: block;

        &__col {
            width: auto;
        }
    }
}

app-test-boxes {
    width: 100%;
}

app-footer {
    height: auto;
    padding-right: 0;
    padding-bottom: rem(20);
    position: relative;
}

app-main-content {
    align-items: initial;
    overflow: auto;
}
