@import "../../../assets/styles/core.scss";

$container-width: 80%;

:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.app-main {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: rem(30);

    &--ont {
        padding: 0 rem(30) rem(30);
    }
}

.app-wrapper {
    display: flex;
    width: $container-width;

    & > * {
        flex: 0 0 50%;
    }

    & > app-spacer {
        flex: 0 0 10%;
    }
}

.app-title {
    font-size: rem(12);
    margin-bottom: rem(40);
    width: $container-width;
}

.app-btn {
    background: $color-primary;
    border-radius: rem(4);
    color: white;
    display: block;
    margin-top: rem(40);
    padding: rem(14) rem(12);
    text-decoration: none !important;
}

.app-link {
    color: $color-primary;
    font-weight: bold;
    text-decoration: none !important;
}

app-test-boxes {
    width: 100%;
}
