<div class="app-wrapper" *transloco="let t">
    <div class="app-article" [innerHTML]="t('Terms and conditions text')"></div>
    <app-scroll-bottom [isVisible]="!isRead"></app-scroll-bottom>
    <footer class="app-footer">
        <button mat-button color="primary" (click)="cancel()">
            {{ t("Cancel") }}
        </button>
        <button
            [disabled]="!isRead"
            mat-flat-button
            type="submit"
            color="primary"
            (click)="agree()"
        >
            {{ t("Agree") }}
        </button>
    </footer>
</div>
