<div class="app-wrapper" *localize="let t">
    @if (terms$ | async; as terms) {
        <div
            class="app-article"
            [innerHTML]="terms | translate: 'content' : 'parseMarkdown'"
        ></div>
    } @else {
        <div
            *localize="let t"
            class="app-article"
            [innerHTML]="termsText"
        ></div>
    }
    <app-scroll-bottom [isVisible]="!isRead"></app-scroll-bottom>
    <footer class="app-footer">
        <button mat-button color="primary" (click)="cancel()">
            {{ t("Cancel") }}
        </button>
        <button
            [disabled]="!isRead"
            mat-flat-button
            type="submit"
            color="primary"
            (click)="agree()"
        >
            {{ t("Agree") }}
        </button>
    </footer>
</div>
