<div class="app-wrapper" *transloco="let t">
    <div
        class="app-article"
        *ngIf="terms$ | async as terms; else defaultTerms"
        [innerHTML]="terms | translate : 'content' : 'parseMarkdown'"
    ></div>
    <app-scroll-bottom [isVisible]="!isRead"></app-scroll-bottom>
    <footer class="app-footer">
        <button mat-button color="primary" (click)="cancel()">
            {{ t("Cancel") }}
        </button>
        <button
            [disabled]="!isRead"
            mat-flat-button
            type="submit"
            color="primary"
            (click)="agree()"
        >
            {{ t("Agree") }}
        </button>
    </footer>
</div>

<ng-template #defaultTerms>
    <div *transloco="let t" class="app-article" [innerHTML]="termsText"></div>
</ng-template>
