$base-font-family: "Open Sans", sans-serif;
$base-font-size: 14;
$base-line-height: 1.4;

$font-size-sm: 12px;

$screen-xs: 375px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1440px;

$color-primary: #2f5f00;
$color-pale: mix(#000000, #ffffff, 33%);
