<app-header></app-header>
<app-body *ngIf="env$ | async as env">
    <app-main-menu *ngIf="env?.FLAVOR !== 'ont'"></app-main-menu>
    <app-main-content>
        <div class="app-main" *transloco="let t">
            <h1 *ngIf="env?.FLAVOR && env?.FLAVOR !== 'ont'" class="app-title">
                {{ t("Settings") }}
            </h1>
            <div class="app-wrapper">
                <app-table
                    [columns]="columns"
                    [data]="(data$ | async)!"
                    [sort]="sort"
                    [tableClassNames]="tableClassNames"
                ></app-table>
            </div>
        </div>
    </app-main-content>
    <app-footer></app-footer>
</app-body>
