<app-header></app-header>
@if (env$ | async; as env) {
    <app-body>
        <app-main-menu></app-main-menu>
        <app-main-content>
            <div class="app-main" *localize="let t">
                <h1 class="app-title">
                    {{ t("Settings") }}
                </h1>
                <div class="app-wrapper">
                    <app-table
                        [columns]="columns"
                        [data]="(data$ | async)!"
                        [sort]="sort"
                        [tableClassNames]="tableClassNames"
                    ></app-table>
                </div>
            </div>
        </app-main-content>
        <app-footer></app-footer>
    </app-body>
}
