@import "../../../assets/styles/core.scss";

.app-table {
    mat-row {
        &:nth-child(odd) {
            background-color: #ecf3e5;
        }
        &:nth-child(even) {
            background-color: #f9fbf7;
        }
    }

    mat-row {
        min-height: rem(40);
    }

    mat-header-row {
        min-height: rem(50);
    }

    &__cell--ellipsis,
    mat-header-cell > *,
    mat-cell > * {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__subheader {
        * {
            color: inherit !important;
        }
    }

    mat-cell {
        :nth-child(2) {
            flex: 1;
            max-width: 100%;
        }
        :not(:only-child) {
            @include screen-sm {
                max-width: 50vw;
            }
        }
    }

    mat-footer-cell {
        font-weight: bold;
        * {
            font-weight: bold;
            &:first-child {
                font-weight: 500;
            }
        }

        :not(:only-child) {
            @include screen-sm {
                max-width: 50vw;
            }
        }
    }

    mat-header-cell {
        background-color: #ecf3e5;
        font-weight: 700 !important;

        :not(:only-child) {
            @include screen-sm {
                max-width: 50vw;
            }
        }
    }

    .mat-column {
        &-title {
            flex: 0 0 30%;
        }

        &-time {
            flex: 0 0 25%;
        }

        &-count {
            flex: 0 0 10%;
        }
    }

    &--wide {
        mat-row {
            min-height: rem(60);
        }
    }
}

mat-paginator {
    color: color(black);
}

.mat-table-wrap {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
