<div
    class="app-table mat-table-wrap"
    [ngClass]="tableClassNames"
    *localize="let t"
>
    @if (data && sort) {
        <mat-table
            [dataSource]="data.content"
            matSort
            matSortDisableClear
            multiTemplateDataRows
            [trackBy]="identify"
            (matSortChange)="changeSort($event)"
            [matSortActive]="sort.active"
            [matSortDirection]="sort.direction"
        >
            @for (column of columns; track column) {
                <ng-container matColumnDef="{{ column.columnDef }}">
                    <!-- MAT-HEADER-CELL -->
                    @if (column.isSortable) {
                        <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            [style]="justify(column)"
                            >{{ t(column.header) }}</mat-header-cell
                        >
                    }
                    @if (!column.isSortable) {
                        <mat-header-cell
                            *matHeaderCellDef
                            [style]="justify(column)"
                        >
                            <div class="sah-table__cell--ellipsis">
                                {{ t(column.header) }}
                            </div>
                        </mat-header-cell>
                    }
                    <!-- END MAT-HEADER-CELL-->

                    <!--
                        MAT-CELL: a column may declare only ONE *matCellDef, so
                        this is a single @if/@else-if chain (not parallel blocks)
                        in priority order. Multiple cell defs made Material bind
                        the first (default) one and ignore isHtml/component cells.
                    -->
                    @if (column.isComponent) {
                        <mat-cell
                            *matCellDef="let element; let i = dataIndex"
                            [style]="justify(column)"
                        >
                            <ng-template
                                [dynamicComponent]="
                                    element[element.componentField] ||
                                    element.component
                                "
                                [parameters]="
                                    element[element.parametersField] ||
                                    element.parameters
                                "
                            ></ng-template>
                        </mat-cell>
                    } @else if (
                        column.component && column.getComponentParameters
                    ) {
                        <mat-cell
                            *matCellDef="let element; let i = dataIndex"
                            [style]="justify(column)"
                            [ngClass]="
                                $safeNavigationMigration(
                                    column.getNgClass?.(element, column)
                                )
                            "
                        >
                            <span class="app-table__mobile-label">{{
                                column.header
                            }}</span>
                            @if (column.isExpandable) {
                                <div
                                    [@expandVertically]="
                                        isElementExpanded(element.id)
                                    "
                                >
                                    <ng-template
                                        [dynamicComponent]="column.component"
                                        [parameters]="
                                            column.getComponentParameters(
                                                element
                                            )
                                        "
                                    ></ng-template>
                                </div>
                            } @else {
                                <ng-template
                                    [dynamicComponent]="column.component"
                                    [parameters]="
                                        column.getComponentParameters(element)
                                    "
                                ></ng-template>
                            }
                        </mat-cell>
                    } @else if (column.isHtml) {
                        <mat-cell
                            *matCellDef="let element; let i = dataIndex"
                            [style]="justify(column)"
                            [innerHtml]="element[column.columnDef]"
                        >
                        </mat-cell>
                    } @else if (column.columnDef == "groupArrowIndicator") {
                        <mat-cell *matCellDef="let element; let i = dataIndex">
                            @if (element.groupHeader) {
                                <span class="app-table__arrow-indicator">
                                    <mat-icon
                                        [@arrowRotate]="
                                            isElementExpanded(element.id)
                                                ? 'expanded'
                                                : 'collapsed'
                                        "
                                    >
                                        keyboard_arrow_down
                                    </mat-icon></span
                                >
                            }
                        </mat-cell>
                    } @else {
                        <mat-cell
                            *matCellDef="let element; let i = dataIndex"
                            [style]="justify(column)"
                        >
                            @if (!shouldShowText(column, element)) {
                                <a
                                    [routerLink]="
                                        $safeNavigationMigration(
                                            column.link?.(element.id)
                                        )
                                    "
                                    [matTooltip]="
                                        column.getTooltip?.(element, column) ??
                                        ''
                                    "
                                    [ngClass]="
                                        column.getNgClass &&
                                        column.getNgClass(element, column)
                                    "
                                    [class.app-table__cell--sortable]="
                                        column.isSortable
                                    "
                                    class="app-link"
                                >
                                    {{ getDefaultValue(column, element, i) }}
                                </a>
                            }
                            @if (shouldShowText(column, element)) {
                                <span
                                    [matTooltip]="
                                        column.getTooltip?.(element, column) ??
                                        ''
                                    "
                                    [ngClass]="
                                        $safeNavigationMigration(
                                            column.getNgClass?.(element, column)
                                        )
                                    "
                                    [class.app-table__cell--sortable]="
                                        column.isSortable
                                    "
                                >
                                    {{ getDefaultValue(column, element, i) }}
                                </span>
                            }
                            @if (
                                column.getActions &&
                                    column.getActions(element, column);
                                as actions
                            ) {
                                @for (action of actions; track action) {
                                    @if (
                                        !action.getInProgress ||
                                        !action.getInProgress(element, column)
                                    ) {
                                        <button
                                            mat-button
                                            [color]="action.color || 'primary'"
                                            [disabled]="
                                                action.getDisabled &&
                                                action.getDisabled(
                                                    element,
                                                    column
                                                )
                                            "
                                            [ngClass]="
                                                'app-table__action app-table__action--' +
                                                action.label.toLowerCase()
                                            "
                                            (click)="
                                                action.perform(element, column)
                                            "
                                        >
                                            @if (action.matIcon) {
                                                <mat-icon>{{
                                                    action.matIcon
                                                }}</mat-icon>
                                            }
                                            {{ action.label }}
                                        </button>
                                    }
                                    @if (
                                        action.getInProgress?.(element, column)
                                    ) {
                                        <mat-spinner
                                            [diameter]="18"
                                        ></mat-spinner>
                                    }
                                }
                            }
                        </mat-cell>
                    }
                    <!-- END MAT-CELL -->
                </ng-container>
            }
            @for (column of subHeaderColumns; track column) {
                <ng-container matColumnDef="{{ column.columnDef }}">
                    <mat-header-cell
                        *matHeaderCellDef
                        [style]="justify(column)"
                    >
                        <span class="app-table__mobile-label">{{
                            t(column.header)
                        }}</span>
                        @if (column.subHeader) {
                            <span>{{ t(column.subHeader) }}</span>
                        }
                    </mat-header-cell>
                </ng-container>
            }
            <mat-row
                *matRowDef="let row; columns: displayedColumns"
                [class.mat-row--clickable]="rowsAreCLickable === true"
                [class.mat-row--hidden]="row.hidden === true"
                [class.mat-row--visible]="row.hidden === false"
                [class.mat-row--group-header]="row.groupHeader"
                (click)="toggleExpandableRow.emit(row.id)"
                (keydown.enter)="toggleExpandableRow.emit(row.id)"
                tabindex="0"
            >
            </mat-row>
            @if (!shouldHideHeader) {
                <mat-header-row
                    tabindex="0"
                    *matHeaderRowDef="displayedColumns; sticky: true"
                ></mat-header-row>
                @if (displayedSubHeaderColumns?.length) {
                    <mat-header-row
                        tabindex="0"
                        class="app-table__subheader"
                        *matHeaderRowDef="displayedSubHeaderColumns"
                    ></mat-header-row>
                }
            }
        </mat-table>
    }
    @if (paginator) {
        <app-paginator
            [length]="data?.totalElements ?? 0"
            [pageSize]="paginator.limit ?? 0"
            [pageIndex]="paginator.offset"
            (page)="changePage($event)"
            [pageSizeOptions]="AVAILABLE_SIZES"
        >
        </app-paginator>
    }
</div>
