<div
    class="app-table mat-table-wrap"
    [ngClass]="tableClassNames"
    *transloco="let t"
>
    <mat-table
        *ngIf="data && sort"
        [dataSource]="data.content"
        matSort
        matSortDisableClear
        multiTemplateDataRows
        [trackBy]="identify"
        (matSortChange)="changeSort($event)"
        [matSortActive]="sort.active"
        [matSortDirection]="sort.direction"
    >
        <ng-container
            *ngFor="let column of columns"
            matColumnDef="{{ column.columnDef }}"
        >
            <!-- MAT-HEADER-CELL -->
            <ng-container *ngIf="column.isSortable">
                <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    [style]="justify(column)"
                    >{{ t(column.header) }}</mat-header-cell
                >
            </ng-container>

            <ng-container *ngIf="!column.isSortable">
                <mat-header-cell *matHeaderCellDef [style]="justify(column)">
                    <div class="sah-table__cell--ellipsis">
                        {{ t(column.header) }}
                    </div>
                </mat-header-cell>
            </ng-container>
            <!-- END MAT-HEADER-CELL-->

            <!-- MAT-CELL -->
            <ng-container
                *ngIf="column.columnDef === 'expandArrow'; else defaultCell"
            >
                <mat-cell *matCellDef="let element">
                    <i
                        [@arrowRotate]="
                            isElementExpanded(element.id)
                                ? 'expanded'
                                : 'collapsed'
                        "
                        class="material-icons"
                        >keyboard_arrow_right</i
                    >
                </mat-cell>
            </ng-container>

            <ng-container
                *ngIf="column.columnDef === 'mobileCounter'; else defaultCell"
            >
                <mat-cell *matCellDef="let i = dataIndex">
                    <span class="app-table__mobile-label"
                        >{{ t(column.header) }} {{ i + 1 }}</span
                    >
                </mat-cell>
            </ng-container>

            <ng-container *ngIf="column.columnDef === 'date'; else defaultCell">
                <mat-cell *matCellDef="let element">
                    <span class="app-table__mobile-label">{{
                        t(column.header)
                    }}</span>
                    <a
                        *ngIf="column.link"
                        [routerLink]="column.link(element)"
                        [matTooltip]="column.getTooltip?.(element, column) ?? '' 
                        "
                        [ngClass]="
                            column.getNgClass &&
                            column.getNgClass(element, column)
                        "
                        class="app-link"
                    >
                        {{ element.measurementDate | date : "yyy-MM-dd" }}
                    </a>
                    <span
                        *ngIf="!column.link"
                        [matTooltip]="column.getTooltip?.(element, column) ?? ''
                        "
                        [ngClass]="
                            column.getNgClass &&
                            column.getNgClass(element, column)
                        "
                    >
                        {{ element.measurementDate | date : "yyy-MM-dd" }}
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container *ngIf="column.columnDef === 'time'; else defaultCell">
                <mat-cell *matCellDef="let element">
                    <span class="app-table__mobile-label">{{
                        t(column.header)
                    }}</span>
                    <span
                        [matTooltip]="column.getTooltip?.(element, column) ?? ''
                        "
                    >
                        {{
                            column.key && element[column.key]
                                ? (element[column.key] | date : "HH:mm:ss")
                                : "No Data"
                        }}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container
                *ngIf="column.columnDef === 'expandedDetail'; else defaultCell"
            >
                <mat-cell
                    *matCellDef="let element"
                    [attr.colspan]="displayedColumns.length"
                >
                    <div
                        class="app-table__detail"
                        [@expandVertically]="isElementExpanded(element.id)"
                    >
                        <ng-container
                            *ngIf="
                                column.transformValue?.(
                                    element,
                                    column
                                ) as expandedData
                            "
                        >
                            <app-table
                                *ngIf="!expandedData.message"
                                class="app-table__expanded-table"
                                [columns]="expandedColumns"
                                [data]="expandedData"
                                [sort]="sort"
                                [tableClassNames]="expandedTableClassNames"
                            >
                            </app-table>
                            <p
                                *ngIf="expandedData.message"
                                [ngClass]="column.getNgClass?.(element, column)"
                            >
                                {{ expandedData.message }}
                            </p>
                        </ng-container>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container
                *ngIf="column.columnDef === 'component'; else defaultCell"
            >
                <mat-cell
                    *matCellDef="let element; let i = dataIndex"
                    [style]="justify(column)"
                >
                    <ng-template
                        [dynamicComponent]="element.component"
                        [parameters]="element.parameters"
                    ></ng-template>
                </mat-cell>
            </ng-container>

            <ng-template #defaultCell>
                <mat-cell
                    *matCellDef="let element; let i = dataIndex"
                    [style]="justify(column)"
                >
                    <span class="app-table__mobile-label">{{
                        t(column.header)
                    }}</span>
                    <a
                        *ngIf="!shouldShowText(column, element)"
                        [routerLink]="column.link?.(element.id)"
                        [matTooltip]="column.getTooltip?.(element, column) ?? ''
                        "
                        [ngClass]="
                            column.getNgClass &&
                            column.getNgClass(element, column)
                        "
                        [class.app-table__cell--sortable]="column.isSortable"
                        class="app-link"
                    >
                        {{ getDefaultValue(column, element, i) }}
                    </a>
                    <span
                        *ngIf="shouldShowText(column, element)"
                        [matTooltip]="
                            column.getTooltip?.(element, column) ?? ''
                        "
                        [ngClass]="
                            column.getNgClass?.(element, column)
                        "
                        [class.app-table__cell--sortable]="column.isSortable"
                    >
                        {{ getDefaultValue(column, element, i) }}
                    </span>
                    <ng-container
                        *ngIf="
                            column.getActions &&
                            column.getActions(element, column) as actions
                        "
                    >
                        <ng-container *ngFor="let action of actions">
                            <button
                                *ngIf="
                                    !action.getInProgress ||
                                    !action.getInProgress(element, column)
                                "
                                mat-button
                                [color]="action.color || 'primary'"
                                [disabled]="
                                    action.getDisabled &&
                                    action.getDisabled(element, column)
                                "
                                [ngClass]="
                                    'app-table__action app-table__action--' +
                                    action.label.toLowerCase()
                                "
                                (click)="action.perform(element, column)"
                            >
                                <mat-icon *ngIf="action.matIcon">{{
                                    action.matIcon
                                }}</mat-icon>
                                {{ action.label }}
                            </button>
                            <mat-spinner
                                *ngIf="
                                    action.getInProgress?.(element, column)
                                "
                                [diameter]="18"
                            ></mat-spinner>
                        </ng-container>
                    </ng-container>
                </mat-cell>
            </ng-template>
            <!-- END MAT-CELL -->
        </ng-container>

        <ng-container
            *ngFor="let column of subHeaderColumns"
            matColumnDef="{{ column.columnDef }}"
        >
            <mat-header-cell *matHeaderCellDef [style]="justify(column)">
                <span class="app-table__mobile-label">{{
                    t(column.header)
                }}</span>
                <span *ngIf="column.subHeader">{{ t(column.subHeader) }}</span>
            </mat-header-cell>
        </ng-container>

        <mat-row
            *matRowDef="let row; columns: displayedColumns"
            [class.app-table__elemeapp-row]="expandedColumns"
            [class.app-table__expanded-row]="isElementExpanded(row.id)"
            (click)="toggleExpandableRow.emit(row.id)"
        >
        </mat-row>

        <ng-container *ngIf="expandedColumns?.length">
            <mat-row
                class="app-table__detail-row"
                *matRowDef="let row; columns: ['expandedDetail']"
            ></mat-row>
        </ng-container>

        <ng-container *ngIf="!shouldHideHeader">
            <mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>

            <ng-container *ngIf="displayedSubHeaderColumns?.length">
                <mat-header-row
                    class="app-table__subheader"
                    *matHeaderRowDef="displayedSubHeaderColumns"
                ></mat-header-row>
            </ng-container>
        </ng-container>
    </mat-table>
    <app-paginator
        *ngIf="paginator"
        [length]="data?.totalElements ?? 0"
        [pageSize]="paginator.size"
        [pageIndex]="paginator.page"
        (page)="changePage($event)"
        [pageSizeOptions]="AVAILABLE_SIZES"
    >
    </app-paginator>
</div>
