<div
    class="app-table mat-table-wrap"
    [ngClass]="tableClassNames"
    *transloco="let t"
>
    <mat-table
        *ngIf="data && sort"
        [dataSource]="data.content"
        matSort
        matSortDisableClear
        multiTemplateDataRows
        [trackBy]="identify"
        (matSortChange)="changeSort($event)"
        [matSortActive]="sort.active"
        [matSortDirection]="sort.direction"
    >
        <ng-container
            *ngFor="let column of columns"
            matColumnDef="{{ column.columnDef }}"
        >
            <!-- MAT-HEADER-CELL -->
            <ng-container *ngIf="column.isSortable">
                <mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    [style]="justify(column)"
                    >{{ t(column.header) }}</mat-header-cell
                >
            </ng-container>

            <ng-container *ngIf="!column.isSortable">
                <mat-header-cell *matHeaderCellDef [style]="justify(column)">
                    <div class="sah-table__cell--ellipsis">
                        {{ t(column.header) }}
                    </div>
                </mat-header-cell>
            </ng-container>
            <!-- END MAT-HEADER-CELL-->

            <ng-container *ngIf="column.isComponent; else defaultCell">
                <mat-cell
                    *matCellDef="let element; let i = dataIndex"
                    [style]="justify(column)"
                >
                    <ng-template
                        [dynamicComponent]="
                            element[element.componentField] || element.component
                        "
                        [parameters]="
                            element[element.parametersField] ||
                            element.parameters
                        "
                    ></ng-template>
                </mat-cell>
            </ng-container>

            <ng-container *ngIf="column.isHtml; else defaultCell">
                <mat-cell
                    *matCellDef="let element; let i = dataIndex"
                    [style]="justify(column)"
                    [innerHtml]="element[column.columnDef]"
                >
                </mat-cell>
            </ng-container>

            <ng-template #defaultCell>
                <mat-cell
                    *matCellDef="let element; let i = dataIndex"
                    [style]="justify(column)"
                >
                    <a
                        *ngIf="!shouldShowText(column, element)"
                        [routerLink]="column.link?.(element.id)"
                        [matTooltip]="column.getTooltip?.(element, column) ?? ''
                        "
                        [ngClass]="
                            column.getNgClass &&
                            column.getNgClass(element, column)
                        "
                        [class.app-table__cell--sortable]="column.isSortable"
                        class="app-link"
                    >
                        {{ getDefaultValue(column, element, i) }}
                    </a>
                    <span
                        *ngIf="shouldShowText(column, element)"
                        [matTooltip]="
                            column.getTooltip?.(element, column) ?? ''
                        "
                        [ngClass]="
                            column.getNgClass?.(element, column)
                        "
                        [class.app-table__cell--sortable]="column.isSortable"
                    >
                        {{ getDefaultValue(column, element, i) }}
                    </span>
                    <ng-container
                        *ngIf="
                            column.getActions &&
                            column.getActions(element, column) as actions
                        "
                    >
                        <ng-container *ngFor="let action of actions">
                            <button
                                *ngIf="
                                    !action.getInProgress ||
                                    !action.getInProgress(element, column)
                                "
                                mat-button
                                [color]="action.color || 'primary'"
                                [disabled]="
                                    action.getDisabled &&
                                    action.getDisabled(element, column)
                                "
                                [ngClass]="
                                    'app-table__action app-table__action--' +
                                    action.label.toLowerCase()
                                "
                                (click)="action.perform(element, column)"
                            >
                                <mat-icon *ngIf="action.matIcon">{{
                                    action.matIcon
                                }}</mat-icon>
                                {{ action.label }}
                            </button>
                            <mat-spinner
                                *ngIf="
                                    action.getInProgress?.(element, column)
                                "
                                [diameter]="18"
                            ></mat-spinner>
                        </ng-container>
                    </ng-container>
                </mat-cell>
            </ng-template>
            <!-- END MAT-CELL -->
        </ng-container>

        <ng-container
            *ngFor="let column of subHeaderColumns"
            matColumnDef="{{ column.columnDef }}"
        >
            <mat-header-cell *matHeaderCellDef [style]="justify(column)">
                <span class="app-table__mobile-label">{{
                    t(column.header)
                }}</span>
                <span *ngIf="column.subHeader">{{ t(column.subHeader) }}</span>
            </mat-header-cell>
        </ng-container>

        <mat-row
            *matRowDef="let row; columns: displayedColumns"
            [class.mat-row--clickable]="rowsAreCLickable === true"
            [class.mat-row--hidden]="row.hidden === true"
            [class.mat-row--visible]="row.hidden === false"
            [class.mat-row--group-header]="row.groupHeader"
            (click)="toggleExpandableRow.emit(row.id)"
            (keydown.enter)="toggleExpandableRow.emit(row.id)"
            tabindex="0"
        >
        </mat-row>

        <ng-container *ngIf="!shouldHideHeader">
            <mat-header-row
                tabindex="0"
                *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>

            <ng-container *ngIf="displayedSubHeaderColumns?.length">
                <mat-header-row
                    tabindex="0"
                    class="app-table__subheader"
                    *matHeaderRowDef="displayedSubHeaderColumns"
                ></mat-header-row>
            </ng-container>
        </ng-container>
    </mat-table>
    <app-paginator
        *ngIf="paginator"
        [length]="data?.totalElements ?? 0"
        [pageSize]="paginator.limit ?? 0"
        [pageIndex]="paginator.offset"
        (page)="changePage($event)"
        [pageSizeOptions]="AVAILABLE_SIZES"
    >
    </app-paginator>
</div>
