@import "../../../assets/styles/core.scss";

.app-main {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    padding: rem(64);
    height: 100%;

    & > * {
        flex: 0 0 45%;
    }

    & > app-spacer {
        flex: 0 0 10%;
    }

    @include screen-small {
        padding: rem(32);
    }

    &--ont {
        flex-direction: column;
        height: auto;
        margin-left: auto;
        min-height: calc(100% - 64px);
        padding: rem(32) rem(64);

        & > * {
            flex: auto;
        }
    }
}
