<app-header></app-header>
<ng-container
    [ngTemplateOutlet]="(env$ | async)?.FLAVOR === 'ont' ? ont : rtr"
></ng-container>

<ng-template #ont>
    <main *ngIf="visualization$ | async" class="app-main app-main--ont">
        <nt-test-header></nt-test-header>
        <app-test-boxes></app-test-boxes>
        <app-test-charts></app-test-charts>
    </main>
</ng-template>

<ng-template #rtr>
    <app-body *transloco="let t">
        <app-main-menu [disabled]="true"></app-main-menu>
        <app-main-content *ngIf="visualization$ | async">
            <ng-container *ngIf="(enableLoopMode$ | async) === true">
                <ng-container *ngIf="loopCount$ | async as loopCount">
                    <h1
                        *ngIf="(loopWaiting$ | async) !== true"
                        class="app-title"
                    >
                        {{ t("Measurement") + " " + loopCount }}
                    </h1>
                    <h1
                        *ngIf="(loopWaiting$ | async) === true"
                        class="app-title"
                    >
                        {{
                            t("Result of measurement - waiting")
                                | sprintf : loopCount
                        }}
                    </h1>
                </ng-container>
            </ng-container>
            <app-alert
                *ngIf="showCPUWarning$ | async as cpuUsage"
                kind="warning"
                [text]="
                    t('CPU usage is higher than %0%. Results may be skewed.')
                        | sprintf : cpuUsage
                "
            ></app-alert>
            <div class="app-main">
                <div class="app-progress-bar-wrapper">
                    <app-gauge
                        *ngIf="
                            (loopWaiting$ | async) !== true;
                            else loopWaitProgressBar
                        "
                    ></app-gauge>
                </div>
                <app-spacer></app-spacer>
                <app-interim-results></app-interim-results>
            </div>
            <ng-container *ngIf="(enableLoopMode$ | async) === true">
                <app-recent-history
                    *ngIf="result$ | async as result"
                    class="app-padding"
                    [result]="result"
                    [excludeColumns]="['details']"
                    [interruptsTests]="true"
                    title="Recent measurements"
                ></app-recent-history>
            </ng-container>
        </app-main-content>
        <app-footer></app-footer>
    </app-body>
</ng-template>

<ng-template #loopWaitProgressBar>
    <div style="width: 100%; padding: 0.5em">
        <h2 *transloco="let t" class="app-title">
            {{
                t("Next measurement in") + " " + (ms$ | async | date : "mm:ss")
            }}
        </h2>
        <mat-progress-bar
            class="app-progress-bar--loop"
            mode="determinate"
            [value]="progress$ | async"
        ></mat-progress-bar>
    </div>
</ng-template>
