@import "../../../assets/styles/core.scss";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    & > * {
        flex: 0 0 44%;
    }

    & > app-spacer {
        flex: 0 0 4%;
    }

    @include screen-xs {
        padding-left: rem(32);
        padding-right: rem(32);
    }

    &--ont {
        flex-direction: column;
        height: auto;
        margin-left: auto;
        padding: rem(32) rem(64);

        & > * {
            flex: auto;
        }
    }
}

app-main-content {
    flex-direction: column;
    align-items: start;
}

.app-title {
    margin: rem(32);
}

app-alert {
    margin-bottom: 2em;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.app-progress-bar-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    .app-title {
        margin-left: 0;
        margin-top: 0;
    }

    app-gauge {
        width: 100%;
    }
}

app-recent-history {
    width: 100%;
}
