<app-header></app-header>
<ng-container
    [ngTemplateOutlet]="(env$ | async)?.FLAVOR === 'ont' ? ont : rtr"
></ng-container>

<ng-template #ont>
    <main *ngIf="visualization$ | async" class="app-main app-main--ont">
        <nt-test-header></nt-test-header>
        <app-test-boxes></app-test-boxes>
        <app-test-charts></app-test-charts>
    </main>
</ng-template>

<ng-template #rtr>
    <app-body>
        <app-main-menu [disabled]="true"></app-main-menu>
        <app-main-content *ngIf="visualization$ | async">
            <div class="app-main">
                <app-gauge></app-gauge>
                <app-spacer></app-spacer>
                <app-interim-results></app-interim-results>
            </div>
        </app-main-content>
        <app-footer></app-footer>
    </app-body>
</ng-template>
